<tr>
  <td style="padding: 0">
    <div id="test-title" style="color: #353b46; font-weight: bold; font-size: 22px">
      <?- data.title ?>
    </div>
  </td>
</tr>

<tr>
  <td style="padding: 15px 0">
    <div id="test-message" style="color: #353b46; font-size: 20px">
      <?- data.message ?>
    </div>
  </td>
</tr>

<tr>
  <td style="padding: 15px 0">
    <div id="test-message" style="font-size: 20px; font-weight: bold">
      <a href="<?- data.link ?>" style="text-decoration: none; color: #7e13c6">
        Активировать аккаунт
      </a>
    </div>
  </td>
</tr>
